---
import "../styles/global.css";
import NavMenu from "../components/NavMenu";
import ExperienceCard from "../components/ExperienceCard.astro";
import ProjectCard from "../components/ProjectCard.astro";

const years = new Date().getFullYear() - 2023;

const navItems = [
  { href: "#about-me", label: "Sobre mí" },
  { href: "#work-experience", label: "Experiencia laboral" },
  { href: "#projects", label: "Proyectos" },
  { href: "#skills", label: "Habilidades" },
];

const experience = [
  {
    position: "Desarrollador Fullstack",
    company: "TailorSheet",
    location: "Remoto",
    startDate: "Dic. 2023",
    endDate: "Presente",
    description:
      "Colaboración continua con TailorSheet desarrollando soluciones personalizadas que incluyen: el desarrollo de un plugin personalizado de WordPress incluyendo widgets de Elementor que mejoró los tiempos de carga de páginas criticas en un 85%, organicé más de 100 páginas con una taxonomía personalizada, y creé varias páginas corporativas optimizadas para SEO, velocidad y diseño responsive. Además, implementé una galería de imágenes en Laravel + React con subida múltiple y autenticación que sustituyó servicios externos, ahorrando 180 USD anuales, y unifiqué todo en un ecosistema coherente y escalable.",
    technologies: [
      "PHP",
      "WordPress",
      "Laravel",
      "CSS",
      "TailwindCSS",
      "JavaScript",
      "TypeScript",
      "React",
      "JQuery",
    ],
  },
  {
    position: "Desarrollador WordPress",
    company: "Freelance",
    location: "Remoto",
    startDate: "Jun. 2023",
    endDate: "Dic. 2023",
    description:
      "Brindé soporte técnico, optimización y corrección de errores para múltiples sitios WordPress de pymes, resolviendo bugs críticos y problemas de rendimiento en plazos de 1 a 3 semanas, mejorando SEO, tiempos de carga y seguridad, y manteniendo los proyectos mediante actualizaciones, hardening y mejoras continuas en la experiencia de usuario.",
    technologies: ["PHP", "WordPress", "CSS", "JavaScript", "JQuery"],
  },
  {
    position: "Desarrollador Fullstack",
    company: "Freelance",
    location: "Remoto",
    startDate: "Mar. 2023",
    endDate: "Jun. 2023",
    description:
      "Desarrollé una Single Page Application para la gestión de horarios de profesores usando VueJS, TailwindCSS y TypeScript, junto con un backend en PocketBase que manejó autenticación, permisos y base de datos; optimicé tiempos de carga y usabilidad con una UI responsiva y gestioné el proyecto de principio a fin, definiendo hitos, entregables y el despliegue final.",
    technologies: ["VueJS", "TypeScript", "TailwindCSS", "PocketBase"],
  },
];

const projects = [
  {
    title: "Example project",
    description: "This is an example project description.",
    // thumbnail: {
    //   src: "https://placehold.co/163x91",
    //   alt: "test",
    // },
    technologies: ["Tech1", "Tech2", "Tech3"],
    // url: "https://test.com",
    repositoryUrl: "https://repo.com",
  },
  {
    title: "Example project",
    description: "This is an example project description.",
    thumbnail: {
      src: "https://placehold.co/163x91",
      alt: "test",
    },
    technologies: ["Tech1", "Tech2", "Tech3"],
    url: "https://test.com",
  },
];
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class="flex flex-col items-center bg-linear-to-b from-zinc-900 to-zinc-950 font-mono text-zinc-100 antialiased"
  >
    <main
      class="container flex min-h-screen flex-col px-12 lg:flex-row-reverse"
    >
      <aside
        class="flex flex-col gap-6 py-28 lg:sticky lg:top-0 lg:max-h-screen lg:w-5/12 lg:items-end lg:text-right"
      >
        <div class="flex w-10/12 flex-col gap-6">
          <div class="space-y-2">
            <h1 class="text-4xl font-bold">Cristhian Flores</h1>
            <p class="text-xl font-semibold">Fullstack Developer</p>
          </div>
          <p class="text-zinc-400">
            Desarrollador web con más de {years} años de experiencia creando aplicaciones
            profesionales
          </p>

          <!-- Navigation menu  -->
          <NavMenu items={navItems} client:load />
        </div>
      </aside>
      <div class="w-7/12 py-28 text-zinc-300">
        <!-- About me -->
        <section class="scroll-mt-16 pb-24" id="about-me">
          <p>
            Soy un desarrollador web bilingüe con inglés C1 y más de dos años
            trabajando como freelance, creando aplicaciones con React, Vue y
            lenguajes como PHP, JavaScript, TypeScript y Golang. He llevado
            adelante más de diez proyectos para pymes y emprendedores, cuidando
            el rendimiento, el SEO y la experiencia del usuario. También he
            trabajado con plataformas en la nube como DigitalOcean y AWS, tanto
            en trabajos profesionales como en proyectos personales que me han
            permitido seguir aprendiendo y experimentando.
          </p>

          <p
            class="my-4 border border-amber-400 bg-amber-900/10 p-4 text-amber-400"
          >
            Estudié en la U.P.T.P “Luis Mariano Rivera”, donde obtuve el título
            de Técnico Superior Universitario en Informática entre 2019 y 2022.
            Fue una etapa que me dio una base sólida en programación y
            desarrollo, y que luego complementé con mucha práctica real
            construyendo proyectos por mi cuenta.
          </p>

          <p>
            En mi tiempo libre suelo trastear con Linux en mi computadora
            personal, y en el resto del tiempo libre me toca resolver los
            problemas que me causé por andar trasteando con Linux…
          </p>
        </section>
        <section class="scroll-mt-16 pb-24" id="work-experience">
          <div class="flex flex-col gap-8">
            {
              experience.map((job) => (
                <ExperienceCard
                  position={job.position}
                  company={job.company}
                  startDate={job.startDate}
                  endDate={job.endDate}
                  location={job.location}
                  description={job.description}
                  technologies={job.technologies}
                />
              ))
            }
          </div>
        </section>
        <section class="scroll-mt-16 pb-24" id="projects">
          <div class="group/project-list flex flex-col gap-8">
            {
              projects.map((project) => (
                <ProjectCard
                  title={project.title}
                  description={project.description}
                  thumbnail={project.thumbnail}
                  technologies={project.technologies}
                  url={project.url}
                  repositoryUrl={project.repositoryUrl}
                />
              ))
            }
          </div>
        </section>
        <section class="min-h-screen" id="skills"></section>
      </div>
    </main>
  </body>
</html>
