---
interface Props {
  position: string;
  startDate: string;
  endDate?: string;
  company?: string;
  location?: string;
  description: string;
  technologies?: string[];
}

const {
  position,
  startDate,
  endDate = "Presente",
  company = "Freelance",
  location = "Remoto",
  description,
  technologies,
} = Astro.props;
---

<div
  class="group/experience relative flex gap-4 transition-all lg:p-4 lg:group-hover/experience-list:opacity-50 lg:hover:opacity-100!"
>
  <!-- Date & Location -->
  <div
    class="flex flex-col space-y-1.5 text-sm leading-normal whitespace-nowrap text-zinc-400 uppercase"
  >
    <p>
      {startDate} - {endDate}
    </p>
    <hr />
    <p class="italic">{location}</p>
  </div>

  <!-- Vertical separator -->
  <span class="h-24 w-0.5 bg-amber-400/70"></span>

  <!-- Main content -->
  <div class="flex flex-col gap-2">
    <!-- Position & company -->
    <div class="inline-flex items-center gap-1">
      <h2 class="font-semibold text-zinc-100">
        {position}
      </h2>
      <span class="px-2 text-xs text-amber-400">■</span>
      <p class="text-amber-400">{company}</p>
    </div>

    <!-- Description -->
    <p class="text-sm text-balance">
      {description}
    </p>
    <!-- Technologies -->
    {
      technologies && (
        <div class="flex flex-wrap gap-2">
          {technologies.map((tech) => (
            <span class="mt-2 rounded-full border border-amber-300 bg-amber-400/10 px-2 py-1 text-xs text-amber-300">
              {tech}
            </span>
          ))}
        </div>
      )
    }
  </div>

  <div
    class="absolute inset-0 -z-10 hidden transition-all lg:block lg:group-hover/experience:bg-zinc-800/50"
  >
  </div>
</div>
