---
interface Props {
  position: string;
  startDate: string;
  endDate?: string;
  company?: string;
  location?: string;
  description: string;
  technologies?: string[];
}

const {
  position,
  startDate,
  endDate = "Presente",
  company = "Freelance",
  location = "Remoto",
  description,
  technologies,
} = Astro.props;
---

<div class="flex gap-4">
  <!-- Date & Location -->
  <div
    class="text-zinc-400 uppercase text-sm flex flex-col whitespace-nowrap space-y-1.5 leading-normal"
  >
    <p>
      {startDate} - {endDate}
    </p>
    <hr />
    <p class="italic">{location}</p>
  </div>

  <!-- Vertical separator -->
  <span class="bg-amber-400/70 w-[2px] h-24"></span>

  <!-- Main content -->
  <div class="flex flex-col gap-2">
    <!-- Position & company -->
    <div class="inline-flex items-center gap-1">
      <h2 class="text-zinc-100 font-semibold">
        {position}
      </h2>
      <span class="text-xs text-amber-400 px-2">■</span>
      <p class="text-amber-400">{company}</p>
    </div>

    <!-- Description -->
    <p class="text-balance text-sm">
      {description}
    </p>
    <!-- Technologies -->
    {
      technologies && (
        <div class="flex gap-2 flex-wrap">
          {technologies.map((tech) => (
            <span class="rounded-full bg-amber-400/10 text-amber-300 border border-amber-300 text-xs px-2 py-1 mt-2">
              {tech}
            </span>
          ))}
        </div>
      )
    }
  </div>
</div>
