---
import type { SimpleIcon } from "simple-icons";

interface Props {
  icon: SimpleIcon;
  size?: string;
  class?: string;
}

const { icon, size = "24", class: twClass } = Astro.props;

const path = icon.path;
const color = `#f4f4f5`;
const title = icon.title;
---

<svg
  role="img"
  viewBox="0 0 24 24"
  width={size}
  height={size}
  fill={color}
  class={twClass}
  xmlns="http://www.w3.org/2000/svg"
>
  <title>{title}</title>
  <path d={path}></path>
</svg>

<style>
  svg {
    display: inline-block;
    vertical-align: middle;

    fill: currentColor;
  }
</style>
