---
import { siGit } from "simple-icons/icons";

interface Props {
  size?: string;
  class?: string;
}

const { size = "24", class: twClass } = Astro.props;

const path = siGit.path;
const color = `#f4f4f5`;
const title = siGit.title;
---

<svg
  role="img"
  viewBox="0 0 24 24"
  width={size}
  height={size}
  fill={color}
  class={twClass}
  xmlns="http://www.w3.org/2000/svg"
>
  <title>{title}</title>
  <path d={path}></path>
</svg>

<style>
  svg {
    display: inline-block;
    vertical-align: middle;

    fill: currentColor;
  }
</style>
